[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/dead-simple"]
	path = themes/dead-simple
	url = https://github.com/barklan/hugo-dead-simple.git
[submodule "themes/hugo-winston-theme"]
	path = themes/hugo-winston-theme
	url = https://github.com/zerostaticthemes/hugo-winston-theme.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-dead-simple"]
	path = themes/hugo-dead-simple
	url = https://github.com/barklan/hugo-dead-simple.git
[submodule "themes/Archie"]
	path = themes/Archie
	url = https://github.com/athul/archie.git
